*.ipny_checkpoints/
Assignment1/.ipynb_checkpoints/
Assignment2/.ipynb_checkpoints/
Assignment2/Submission/
Assignment2/Submission2/
*.zip
*.txt
*.tex
*.svg
*.png
*.html
*.csv
*.pdf
*.pyc
*.data
*.model
../.vscode/
.vscode/

